<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "jbakerdev" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/16cd28e879.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-base03 text-base0">
    <%= render NavbarComponent.new do |c| %>
      <% c.link(name: "Lookbook", url: lookbook_path, target: :_blank) %>
    <% end %>

    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <% if content_for?(:title) %>
        <%= render PageHeadingComponent.new(title: content_for(:title)) %>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
